In [1]:
import pandas as pd
import numpy as np
import env

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import env
import acquire
import prepare

In [2]:
df = acquire.wrangle_mall()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [4]:
df.describe()

       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000

In [5]:
df.shape

(200, 5)

In [6]:
cols = df.columns.to_list

for col in cols:
    plt.hist(df[col])

TypeError: 'method' object is not iterable

In [ ]:
#q1, q3 = df['spending_score'].quantile([0.25, 0.75])
#q1, q3

In [ ]:
k=1.5
#column

In [ ]:
q1, q3  = df['annual_income'].quantile(q=[0.25, 0.75])
iqr = q3 - q1

In [ ]:
lower_bound = q1 - (k * iqr)
upper_bound = q3 + (k * iqr)

In [ ]:
high_items = df['annual_income'] > upper_bound
low_items = df['annual_income'] < lower_bound

In [ ]:
df[~high_items & ~low_items]

In [ ]:
def outlier_ejector(dataframe, column, k=1.5):
    """
    This function takes in a dataframe and looks for upper outliers.
    """
    q1, q3  = dataframe[column].quantile(q=[0.25, 0.75])
    iqr = q3 - q1
    
    
    lower_bound = q1 - (k * iqr)
    upper_bound = q3 + (k * iqr)
    
    high_items = dataframe[column] > upper_bound
    low_items = dataframe[column] < lower_bound

    
    return dataframe[~low_items & ~high_items]

In [ ]:
def outlier_detector(dataframe, column, k=1.5):
    """
    This function takes in a dataframe and looks for upper outliers.
    """
    q1, q3  = dataframe[column].quantile(q=[0.25, 0.75])
    iqr = q3 - q1
    
    
    lower_bound = q1 - (k * iqr)
    upper_bound = q3 + (k * iqr)
    
    high_items = dataframe[column] > upper_bound
    low_items = dataframe[column] < lower_bound

    
    return dataframe[low_items & high_items]

In [ ]:
new_df = outlier_ejector(df, 'annual_income')

In [ ]:
outlier_df = outlier_detector(df, 'annual_income')

In [ ]:
new_df.head()

In [ ]:
age_bins = [0,25,35,45,55,70]
age_labels = [25,35,45,55,70]

In [ ]:
df['age_bins'] = pd.cut(x= df.age, bins=age_bins, labels=age_labels)

In [ ]:
df = pd.get_dummies(data=df,columns=['gender','age_bins'])

In [ ]:
train, val, test = prepare.train_validate(df)

In [ ]:
cont_columns = ['annual_income','spending_score']

In [ ]:
train_scaled, val_scaled, test_scaled = prepare.scale_zillow(train, val, test, cont_columns, scaler_model = 1)

In [ ]:
train_scaled.head()