In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import env
import acquire

In [2]:
#Sets options to show more information
pd.options.display.max_columns = None
pd.options.display.width = 100
pd.options.display.max_colwidth = None
pd.options.display.max_rows = 200

In [3]:
df = acquire.wrangle_zillow()

/Users/joshholt/Codeup/codeup-data-science/clustering-exercises/acquire.py:18: DtypeWarning: Columns (61) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(filename, parse_dates=['transactiondate'])

In [4]:
df.shape

(77613, 69)

In [5]:
df_sorted = df.sort_values(['parcelid','transactiondate'], ascending=False)

In [6]:
df_sorted = df_sorted[~df_sorted['parcelid'].duplicated()]

In [7]:
df_sorted.shape

(77414, 69)

In [8]:
df_sorted.head(1)

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,threequarterbathnbr,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,id.1,logerror,transactiondate,propertylandusedesc,storydesc,typeconstructiondesc
16654,167689317,NaN,NaN,269.0,NaN,NaN,NaN,NaN,2535331,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,34045062.0,-118020570.0,NaN,NaN,NaN,NaN,NaN,NaN,010D,EMR1B*,6.037434e+07,NaN,3101.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318400.0,437387.0,2016.0,118987.0,5947.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16654,-0.008789,2017-03-14,Planned Unit Development,NaN,NaN

In [9]:
df_sorted = df_sorted[df_sorted['latitude'].notna()]

## Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [10]:
df_sorted.shape

(77381, 69)

In [11]:
df_sorted.describe()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,threequarterbathnbr,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id.1,logerror
count,7.738100e+04,222.000000,50.0,77381.000000,49440.000000,15.000000,206.000000,24953.000000,7.738100e+04,50.000000,77381.000000,77381.000000,49672.000000,76772.000000,614.0,6023.000000,77185.000000,73749.000000,41.000000,3009.000000,6023.000000,386.000000,77381.000000,8276.000000,76772.000000,25474.000000,25474.000000,1538.0,7.738100e+04,7.738100e+04,6.914200e+04,16137.0,867.000000,464.0,1074.0,15042.0,7.738100e+04,75910.000000,77381.000000,30890.000000,77331.000000,77381.000000,10096.000000,50563.000000,2388.000000,70.000000,77118.000000,17560.000000,172.0,7.726900e+04,7.738000e+04,77381.0,7.737900e+04,77376.000000,2886.000000,7.713700e+04,77381.000000,77381.000000
mean,1.300715e+07,6.040541,7.0,261.826340,3.920510,3.933333,7.388350,1.813289,1.495139e+06,679.720000,2.299130,3.053489,6.534587,2.316867,66.0,1366.512535,1785.219939,1760.522543,1389.853659,2357.791625,1381.771542,2082.500000,6048.819232,1.191155,2.250482,1.815459,350.111957,1.0,3.400837e+07,-1.182036e+08,2.996928e+04,1.0,517.916955,1.0,1.0,1.0,6.049129e+07,33671.242708,2534.158333,187734.864066,96587.086822,1.476952,1.009608,1.110021,305.411223,216.385714,1968.635831,1.434738,1.0,1.893145e+05,4.901345e+05,2016.0,3.010954e+05,5995.532346,14.087318,6.049673e+13,38847.885437,0.016625
std,3.481346e+06,0.557285,0.0,5.141199,3.592779,0.258199,2.734542,2.967894,8.609071e+05,689.703546,0.996651,1.139096,1.721953,0.979755,0.0,671.308125,954.049286,934.024340,123.531688,1188.775210,726.468878,1240.382784,20.748199,0.491080,0.966552,0.588345,261.681641,0.0,2.653888e+05,3.594826e+05,1.233711e+05,0.0,156.716017,0.0,0.0,0.0,2.059052e+05,47169.815982,801.593352,165118.791740,3798.347098,2.824386,0.118630,1.171154,238.392793,190.177514,23.786032,0.544569,0.0,2.300874e+05,6.534440e+05,0.0,4.925960e+05,7622.844153,2.185663,1.535242e+12,22402.157729,0.170191
min,1.071186e+07,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,3.490000e+02,38.000000,0.000000,0.000000,1.000000,1.000000,66.0,44.000000,128.000000,128.000000,1056.000000,598.000000,44.000000,380.000000,6037.000000,1.000000,1.000000,0.000000,0.000000,1.0,3.333953e+07,-1.194754e+08,2.360000e+02,1.0,24.000000,1.0,1.0,1.0,6.037101e+07,3491.000000,1286.000000,6952.000000,95982.000000,0.000000,1.000000,1.000000,11.000000,12.000000,1824.000000,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,0.000000,-4.655420
25%,1.153830e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,7.520700e+05,273.000000,2.000000,2.000000,6.000000,2.000000,66.0,955.000000,1182.000000,1172.000000,1344.000000,1625.000000,956.000000,993.750000,6037.000000,1.000000,2.000000,2.000000,0.000000,1.0,3.381457e+07,-1.184153e+08,5.700000e+03,1.0,424.000000,1.0,1.0,1.0,6.037311e+07,12447.000000,1286.000000,46736.000000,96193.000000,0.000000,1.000000,1.000000,170.000000,61.500000,1953.000000,1.000000,1.0,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.632500,14.000000,6.037311e+13,19460.000000,-0.024377
50%,1.253157e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,1.497932e+06,515.000000,2.000000,3.000000,6.000000,2.000000,66.0,1257.000000,1543.000000,1523.000000,1440.000000,2094.000000,1259.000000,1812.500000,6037.000000,1.000000,2.000000,2.000000,436.000000,1.0,3.402200e+07,-1.181808e+08,7.206000e+03,1.0,500.000000,1.0,1.0,1.0,6.037603e+07,25218.000000,3101.000000,118849.000000,96389.000000,0.000000,1.000000,1.000000,251.000000,164.500000,1970.000000,1.000000,1.0,1.364990e+05,3.589755e+05,2016.0,2.033720e+05,4450.695000,15.000000,6.037603e+13,38869.000000,0.006627
75%,1.421183e+07,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,2.240535e+06,796.500000,3.000000,4.000000,8.000000,3.000000,66.0,1615.000000,2113.000000,2076.000000,1440.000000,2838.000000,1621.500000,3053.500000,6059.000000,1.000000,3.000000,2.000000,493.000000,1.0,3.417439e+07,-1.179284e+08,1.183100e+04,1.0,600.000000,1.0,1.0,1.0,6.059042e+07,45457.000000,3101.000000,274765.000000,96987.000000,0.000000,1.000000,1.000000,364.000000,310.500000,1987.000000,2.000000,1.0,2.187870e+05,5.690015e+05,2016.0,3.667965e+05,6927.790000,15.000000,6.059042e+13,58252.000000,0.039203
max,1.676893e+08,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,2.982274e+06,3560.000000,18.000000,16.000000,12.000000,18.000000,66.0,6912.000000,35640.000000,21929.000000,1560.000000,35640.000000,12467.000000,5598.000000,6111.000000,5.000000,18.000000,14.000000,4251.000000,1.0,3.481877e+07,-1.175546e+08,6.971010e+06,1.0,1500.000000,1.0,1.0,1.0,6.111009e+07,396556.000000,3101.000000,764167.000000,399675.000000,15.000000,7.000000,237.000000,3191.000000,868.000000,2016.000000,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,77612.000000,5.262999

In [12]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 16654 to 55006
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77381 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77381 non-null  float64
 4   heatingorsystemtypeid         49440 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         24953 non-null  float64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  airconditioningdesc           24953 non-null  object
 60  architecturalstyledesc        206 non-null    object
 61  buildingclassdesc             15 non-null     object
 62  heatingorsystemdesc           49440 non-null  object
 63  id.1                          77381 non-null  int64
 64  logerror                      77381 non-null  float64
 65  transactiondate               77381 non-null  datetime64[ns]
 66  propertylandusedesc           77381 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: datetime64[ns](1), float64(55), int64(3), object(10)
memory usage: 41.3+ MB

In [13]:
for col in df_sorted:
    print(f'Unique values of:   {col:30}                {df_sorted[col].value_counts().sum()}')

Unique values of:   parcelid                                      77381
Unique values of:   typeconstructiontypeid                        222
Unique values of:   storytypeid                                   50
Unique values of:   propertylandusetypeid                         77381
Unique values of:   heatingorsystemtypeid                         49440
Unique values of:   buildingclasstypeid                           15
Unique values of:   architecturalstyletypeid                      206
Unique values of:   airconditioningtypeid                         24953
Unique values of:   id                                            77381
Unique values of:   basementsqft                                  50
Unique values of:   bathroomcnt                                   77381
Unique values of:   bedroomcnt                                    77381
Unique values of:   buildingqualitytypeid                         49672
Unique values of:   calculatedbathnbr                             76772
Unique values of:   decktypeid                                    614
Unique values of:   finishedfloor1squarefeet                      6023
Unique values of:   calculatedfinishedsquarefeet                  77185
Unique values of:   finishedsquarefeet12                          73749
Unique values of:   finishedsquarefeet13                          41
Unique values of:   finishedsquarefeet15                          3009
Unique values of:   finishedsquarefeet50                          6023
Unique values of:   finishedsquarefeet6                           386
Unique values of:   fips                                          77381
Unique values of:   fireplacecnt                                  8276
Unique values of:   fullbathcnt                                   76772
Unique values of:   garagecarcnt                                  25474
Unique values of:   garagetotalsqft                               25474
Unique values of:   hashottuborspa                                1538
Unique values of:   latitude                                      77381
Unique values of:   longitude                                     77381
Unique values of:   lotsizesquarefeet                             69142
Unique values of:   poolcnt                                       16137
Unique values of:   poolsizesum                                   867
Unique values of:   pooltypeid10                                  464
Unique values of:   pooltypeid2                                   1074
Unique values of:   pooltypeid7                                   15042
Unique values of:   propertycountylandusecode                     77381
Unique values of:   propertyzoningdesc                            50331
Unique values of:   rawcensustractandblock                        77381
Unique values of:   regionidcity                                  75910
Unique values of:   regionidcounty                                77381
Unique values of:   regionidneighborhood                          30890
Unique values of:   regionidzip                                   77331
Unique values of:   roomcnt                                       77381
Unique values of:   threequarterbathnbr                           10096
Unique values of:   unitcnt                                       50563
Unique values of:   yardbuildingsqft17                            2388
Unique values of:   yardbuildingsqft26                            70
Unique values of:   yearbuilt                                     77118
Unique values of:   numberofstories                               17560
Unique values of:   fireplaceflag                                 172
Unique values of:   structuretaxvaluedollarcnt                    77269
Unique values of:   taxvaluedollarcnt                             77380
Unique values of:   assessmentyear                                77381
Unique values of:   landtaxvaluedollarcnt                         77379
Unique values of:   taxamount                                     77376
Unique values of:   taxdelinquencyflag                            2886
Unique values of:   taxdelinquencyyear                            2886
Unique values of:   censustractandblock                           77137
Unique values of:   airconditioningdesc                           24953
Unique values of:   architecturalstyledesc                        206
Unique values of:   buildingclassdesc                             15
Unique values of:   heatingorsystemdesc                           49440
Unique values of:   id.1                                          77381
Unique values of:   logerror                                      77381
Unique values of:   transactiondate                               77381
Unique values of:   propertylandusedesc                           77381
Unique values of:   storydesc                                     50
Unique values of:   typeconstructiondesc                          222

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [14]:
def find_na(df):
    list_of_na = []
    for col in df:
        temp_dict = {'column_name': f'{col}' , 
                     'num_rows_missing': df[col].isna().sum(),
                     'pct_rows_missing': round(df[col].isna().sum() / len(df[col]),5),
                     'unique_values': df_sorted[col].value_counts().sum()}

        list_of_na.append(temp_dict)

    na_df = pd.DataFrame(list_of_na)
    na_df.set_index('column_name')
    return na_df

In [15]:
na_frame = find_na(df_sorted)

In [16]:
df_sorted['propertylandusedesc'].value_counts()

Single Family Residential                     52320
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

In [17]:
na_frame

                     column_name  num_rows_missing  pct_rows_missing  unique_values
0                       parcelid                 0           0.00000          77381
1         typeconstructiontypeid             77159           0.99713            222
2                    storytypeid             77331           0.99935             50
3          propertylandusetypeid                 0           0.00000          77381
4          heatingorsystemtypeid             27941           0.36108          49440
5            buildingclasstypeid             77366           0.99981             15
6       architecturalstyletypeid             77175           0.99734            206
7          airconditioningtypeid             52428           0.67753          24953
8                             id                 0           0.00000          77381
9                   basementsqft             77331           0.99935             50
10                   bathroomcnt                 0           0.00000          77381
11                    bedroomcnt                 0           0.00000          77381
12         buildingqualitytypeid             27709           0.35809          49672
13             calculatedbathnbr               609           0.00787          76772
14                    decktypeid             76767           0.99207            614
15      finishedfloor1squarefeet             71358           0.92216           6023
16  calculatedfinishedsquarefeet               196           0.00253          77185
17          finishedsquarefeet12              3632           0.04694          73749
18          finishedsquarefeet13             77340           0.99947             41
19          finishedsquarefeet15             74372           0.96111           3009
20          finishedsquarefeet50             71358           0.92216           6023
21           finishedsquarefeet6             76995           0.99501            386
22                          fips                 0           0.00000          77381
23                  fireplacecnt             69105           0.89305           8276
24                   fullbathcnt               609           0.00787          76772
25                  garagecarcnt             51907           0.67080          25474
26               garagetotalsqft             51907           0.67080          25474
27                hashottuborspa             75843           0.98012           1538
28                      latitude                 0           0.00000          77381
29                     longitude                 0           0.00000          77381
30             lotsizesquarefeet              8239           0.10647          69142
31                       poolcnt             61244           0.79146          16137
32                   poolsizesum             76514           0.98880            867
33                  pooltypeid10             76917           0.99400            464
34                   pooltypeid2             76307           0.98612           1074
35                   pooltypeid7             62339           0.80561          15042
36     propertycountylandusecode                 0           0.00000          77381
37            propertyzoningdesc             27050           0.34957          50331
38        rawcensustractandblock                 0           0.00000          77381
39                  regionidcity              1471           0.01901          75910
40                regionidcounty                 0           0.00000          77381
41          regionidneighborhood             46491           0.60081          30890
42                   regionidzip                50           0.00065          77331
43                       roomcnt                 0           0.00000          77381
44           threequarterbathnbr             67285           0.86953          10096
45                       unitcnt             26818           0.34657          50563
46            yardbuildingsqft17             74993           0.96914           2388
47            yardbuildingsqft26             77311           0.99910             70
48                     yearbuilt               263           0.00340          77118
49               numberofstories             59821           0.77307          17560
50                 fireplaceflag             77209           0.99778            172
51    structuretaxvaluedollarcnt               112           0.00145          77269
52             taxvaluedollarcnt                 1           0.00001          77380
53                assessmentyear                 0           0.00000          77381
54         landtaxvaluedollarcnt                 2           0.00003          77379
55                     taxamount                 5           0.00006          77376
56            taxdelinquencyflag             74495           0.96270           2886
57            taxdelinquencyyear             74495           0.96270           2886
58           censustractandblock               244           0.00315          77137
59           airconditioningdesc             52428           0.67753          24953
60        architecturalstyledesc             77175           0.99734            206
61             buildingclassdesc             77366           0.99981             15
62           heatingorsystemdesc             27941           0.36108          49440
63                          id.1                 0           0.00000          77381
64                      logerror                 0           0.00000          77381
65               transactiondate                 0           0.00000          77381
66           propertylandusedesc                 0           0.00000          77381
67                     storydesc             77331           0.99935             50
68          typeconstructiondesc             77159           0.99713            222

For columns with count or 'cnt' then I would impute 0 for the na value. Other columns like 'storydesc', I'd probably drop the column.

In [19]:
house_type = [261, 263, 275, 260, 264]

In [25]:
df_sorted = df_sorted[df_sorted['propertylandusetypeid'].isin(house_type)]